extends layouts/main
include mixins/VideoBlock

block content
    .Video
        each item in videos
            +VideoBlock(
                {
                    title:item.title,
                    views:item.views,
                    videoFile:item.videoFile
                }
            )

