doctype html
html
    head
    <script src="https://kit.fontawesome.com/09983b9b99.js" crossorigin="anonymous"></script>
        title #{PageTitle} | #{sitename}
    body
        include ../partials/header 
        
        main
            block content
        include ../partials/footer
