.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}
.nav .nav_link {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}
.nav nav_link_list {
  position: relative;
}
.nav .nav_badge {
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
  background-color: red;
  color: white;
  font-size: 15px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
