body {
  background-color: grey;
}

.btn {
  cursor: pointer;
}
body {
  color: white;
}

.clicked {
  color: #7f8c8d;
}
.forms,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.js-clock .clocks {
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgimage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  z-index: -1;
  animation: fadeIn 0.5s linear;
}
.js-greetings {
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
