.social_login
    button.Social-login--github
        span
            i.fab.fa-github
            | Continue for github
    button.Social-login--facebook
        span
            i.fab.fa-facebook
            | Continue for facebook